.mainimage{
    height: 40%;
    width: 40%;
}
/* menu styling*/
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navigation li {
  float: right;
}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.navigation li a:hover {
  background-color: orange;
}

/* styling for main image */
.grenada{
  width: 100%;
  
}

.container{
    display: flex;
    justify: center;
}

.drink{
    margin: auto;
    padding: 5px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcome{
    font-size: 30px;
    text-align: center;
    
}


/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* styling main heading on login page */
h1{
  color: orange;
  text-align:center;
}

.space{
    margin-top: 10px;
}
.border {
    border: 5px solid black;
    padding: 1px;
}
.size {
     width: 300px;
    height: 250px;
}
.bg{
    background-color:#fcf4ec;
    
}
.padding{
    padding-left:0px;
}
.font{
    font-family: 'Libre Baskerville', serif;
    margin-top:15px;
}
#search-box{
    margin-left: 1180px;
}
.text-center{
    text-align: center;
    margin: auto;
}
.bg-form{
    background:rgba(0, 0, 0, 0.4);
}
.nav-color{
    background-color: #ff6347;
}
.body-bg-color{
    background-color: #ffebcd;
}

.padding1{
    padding-right: 40px;
}
.float{
    float:right;
}
.bg-image{
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-slide-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.btn-bg{
    background-color: #3cbaec;
}
.position-of-content{
    margin-top: 160px;
}
#link-text a{
    text-decoration: none;
    color: white;
}
.image{
    width:300px;
    height:200px;
}

.title-text{
    color:black;
    text-decoration:none;
}
.flash-color{
    color:yellow;
}
.font-color{
    color:white;
}
.bg4{
    background-color: white;
}
.padding3{
    padding-left: 15px;
}
.recipe-title{
    width: 50%;
    background-color: #ff6347;
    border-radius: 6px;
    padding-left: 18px;
    color: white;
    margin-top: 6px;
    margin-bottom: 20px;
    height: 20%;
    box-shadow: 0px 1px 20px 0px black;
}
.text-shadow{
    text-shadow: 1px -1px 0px;
}
.text-font{
    font-family: cursive;
    margin: 15px;
}
.user-title{
    width: 40%;
    background-color: #f7492a;
    border-radius: 4px;
    font-size: 20px;
    padding-left: 18px;
    color: white;
    margin-top: 6px;
    margin-bottom: 20px;
    padding: 10px;
    height: 20%;
    box-shadow: 0px 1px 20px 0px black;
    margin: auto;
}

.img-box-shadow{
    box-shadow: 0px 0px 20px 0px;
}
.input-field-boxShadow{
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px;
    margin-top: 10px;
}
.form-boxShadow{
    background-color: white;
    width: 50%;
    margin: auto;
    box-shadow: 0px 0px 6px 1px;
    color: black;
}
.btn-margin-bottom{
    margin-bottom: 10px;
}
.font-size-for-button{
    font-size:15px;
    font-weight:600;
}
/* mobile view  */
@media(max-width:768px){
    .Image3{
    width:100%;
    height:100%;
}
.recipe-title {
     width: 100%; 
    
}
.form-boxShadow{
    width: 100%;
}
body {
        height:100vh;
    }
    
}
@media(min-width:600px) {

    nav{
        width:100%;
    }
    

}
@media(min-width:600px){
    .Image3{
    width:100%;
    height:100%;
}
body {
        height:100vh;
    }
}
