
{% extends 'base.html' %}
{% block content %} 

<h1>Delicious Caribbean Recipes List!</h1>

    <ul class="collapsible" data-collapsible="accordion">
        {% for r in recipes %}
        <li>
            <div class="collapsible-header">

                <div class=" recipe_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{r.recipe_name}}</strong> - {{r.recipe_intro}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{r.recipe_ingredients}}
                </span>
            </div>
            <div class="collapsible-body">
                <span>
                    {{r.method}}
                </span>
            </div>
            
            
            
        </li>
        {% endfor %}
    </ul> 
    
{% endblock %}
