{% extends 'base.html' %} {% block content %}
    <h1>Edit Recipe</h1>
<div class="row">
    <form action="{{ url_for('update_recipe', recipe_id=recipe_id) }}" method="POST"  class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_dining</i>
               
                <input id="recipe_name" name="recipe_name" type="text">
                <label for="recipe_name">{{recipe.recipe_name}}</label>
            </div>
            
            
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="recipe_introduction" id="recipe introduction" class="materialize-textarea"> {{recipe.recipe_intro}}</textarea>
                <label for="recipe_intro">Recipe Introduction</label>
            </div>
            
        </div>
        
        
        <div class="row">
            <div class="input-field col s3">
                <i class="material-icons prefix">person</i>
                
                     <select id="recipe_contains" name="recipe_contains">
                        <option value="" disabled selected>Choose main food item in recipe</option>
                        <option value="meat">meat</option>
                        <option value="fish">fish</option>
                        <option value="dairy">dairy</option>
                        <option value="fruit">fruit</option>
                        
                     </select>
                    
                        <label>recipe_contains</label> 
                
                
            </div>
        
        
            <div class="input-field col s9">
                <i class="material-icons prefix">shopping_basket</i>
                <textarea name="recipe_ingredients" id="recipe_ingredients" class="materialize-textarea">{{recipe.recipe_ingredients}}</textarea>
                <label for="recipe_ingredients">Recipe Ingredients</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s3">
                <i class="material-icons prefix">photo</i>
                <textarea name="recipe_picture" id="recipe_picture" class="materialize-textarea"> {{recipe.recipe_picture}}</textarea>
                <label for="recipe_picture">Recipe url</label>
            </div>
        
        
            <div class="input-field col s9">
                <i class="material-icons prefix">subject</i>
                <textarea name="method" id="method" class="materialize-textarea">{{recipe.method}}</textarea>
                <label for="method">Method</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s3">
                <i class="material-icons prefix">directions_boat</i>
                <textarea name="recipe_island" id="recipe_island" class="materialize-textarea">{{recipe.recipe_island}}</textarea>
                <label for="recipe_island">Recipe island</label>
            </div>
        
        
            <div class="input-field col s9">
                <i class="material-icons prefix">create</i>
                <textarea name="recipe_author" id="recipe_author" class="materialize-textarea">{{recipe.recipe_author}}</textarea>
                <label for="recipe_author">Recipe Author</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s3">
                <i class="material-icons prefix">warning</i>
                
                <select id="allergens" name="allergens">
                    <option value="" disabled selected>Choose allergen</option>
                    <option value="milk">Milk</option>
                    <option value="eggs">Eggs</option>
                    <option value="nuts">Nuts</option>
                    <option value="soy">Soy</option>
                    <option value="fish">Fish</option>
                    <option value="shellfish">Shellfish</option>
                    <option value="wheat">Wheat</option>
                    <option value="none">None</option>
                </select>
                
                <label for="allergens">Allergens</label>
            </div>
        
        
            <div class="input-field col s3">
                <i class="material-icons prefix">short_text</i>
                <textarea name="number_servings" id="number_servings" class="materialize-textarea">{{recipe.number_servings}}</textarea>
                <label for="">Number of servings</label>
            </div>
            
            <div class="input-field col s3">
                <i class="material-icons prefix">short_text</i>
                <textarea name="calories_per_serve" id="calories_per_serve" class="materialize-textarea">{{recipe.calories_per_serve}}</textarea>
                <label for="">Calories per serving</label>
            </div>
            
            <div class="input-field col s3">
                <i class="material-icons prefix">short_text</i>
                <textarea name="protein_grammes_per_serve" id="protein_grammes_per_serve" class="materialize-textarea">{{recipe.protein_grammes_per_serve}}</textarea>
                <label for="">Protein grammes per serving</label>
            </div>
            
        </div>
        
        <div class="row">
            <div class="row">
                <div class="input-field col s3">
                    <i class="material-icons prefix">access_time</i>
                    
                    <select id="recipe_type" name="recipe_type">
                        <option value="" disabled selected>Choose recipe type</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Dinner">Dinner</option>
                        <option value="Dessert">Dessert</option>
                    </select>
                    
                        <label>recipe_type</label> 
                    
                </div>
                    <div class="input-field col s3">
                    <i class="material-icons prefix">short_text</i>
                    <textarea name="fat_grammes_per_serve" id="fat_grammes_per_serve" class="materialize-textarea">{{recipe.fat_grammes_per_serve}}</textarea>
                    <label for="">Fat grammes per serving</label>
                </div>
            
                <div class="input-field col s3">
                    <i class="material-icons prefix">short_text</i>
                    <textarea name="fibre_grammes_per_serve" id="fibre_grammes_per_serve" class="materialize-textarea">{{recipe.fibre_grammes_per_serve}}</textarea>
                    <label for="">Fibre grammes per serving</label>
                </div>
                
                <div class="input-field col s3">
                    <i class="material-icons prefix">short_text</i>
                    <textarea name="carb_grammes_per_serve" id="carb_grammes_per_serve" class="materialize-textarea">{{recipe.carb_grammes_per_serve}}</textarea>
                    <label for="">Carb grammes per serving</label>
                </div>
                
                
                
            </div>
        
        
            
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Update Recipe
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
        
    
    </form>
</div> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    
{% endblock %}
