{% extends 'base.html' %} {% block content %}
    <h1>Find Recipe</h1>
    
<!-- code to find Lunch, Dinner or Dessert recipe -->

<div class="row">
    <h6> Choose to find Lunch, dinner or dessert recipes</h6>


    <form action="{{ url_for('findrecipe')}}" method="POST"  class="col s6">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">access_time</i>
                    
                    <select id="recipe_type" name="recipe_type">
                        <option value="" disabled selected>Choose recipe type</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Dinner">Dinner</option>
                        <option value="Dessert">Dessert</option>
                    </select>
                    
                        <label>recipe_type</label> 
                <input id="recipe_type" name="recipe_type" type="text">
                
            </div>
            
    <!-- code for submit button to find Lunch, Dinner or Dessert recipes-->
    
   
    <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Find Recipes
                <i class="material-icons right">playlist_add</i>
             </button>
    </div>
    </form>
</div>

<!--  code to find recipes which contain meat, fish, vegetables or sugar -->

<div class="row">
    <h6> Choose to find recipe which contains meat,fish, vegetables or sugar</h6>


    <form action="{{ url_for('findrecipecontents')}}" method="POST"  class="col s6">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">person</i>
                    
                    <select id="recipe_contains" name="recipe_contains">
                        <option value="" disabled selected>Choose main ingredient of recipe</option>
                        <option value="meat">meat</option>
                        <option value="fish">fish</option>
                        <option value="vegetables">vegetables</option>
                        <option value="sugar">sugar</option>
                    </select>
                    
                        <label>recipe_contains</label> 
                <input id="recipe_contains" name="recipe_contains" type="text">
                
            </div>
            
    <!-- code for submit button to find meat, vegetable, fish or sugar main ingredient recipes-->
   
    <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Find Recipes
                <i class="material-icons right">playlist_add</i>
             </button>
    </div>
    </form>
</div> 

<!-- code for finding recipes which come from particular islands -->

<div class="row">
    <h6> Choose to find recipes which come from particular islands. </h6>


    <form action="{{ url_for('findrecipeisland')}}" method="POST"  class="col s6">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">directions_boat</i>
                    
                    <select id="recipe_island" name="recipe_island">
                        <option value="" disabled selected>Choose recipe island</option>
                        <option value="Jamaica">Jamaica</option>
                        <option value="Curaco">Curaco</option>
                        <option value="Dominica">Dominica</option>
                        <option value="Guadelope">Guadelope</option>
                        <option value="Barbados">Barbados</option>
                        <option value="Grenada">Grenada</option>
                        <option value="French Guiana">French Guiana</option>
                        <option value="Guyana">Guyana</option>
                    </select>
                    
                        <label>recipe_island</label> 
                <input id="recipe_island" name="recipe_island" type="text">
                
            </div>
   
    <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Find island recipes
                <i class="material-icons right">playlist_add</i>
             </button>
    </div>
    </form>
</div> 

<!-- code to find allergen free recipes-->
<div class="row">
    <h6> Choose to find recipes which are free of specified allergens. </h6>


    <form action="{{ url_for('findallergensfree')}}" method="POST"  class="col s6">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">directions_boat</i>
                    
                     <select id="allergens" name="allergens">
                    <option value="" disabled selected>Choose allergen</option>
                    <option value="milk">Milk</option>
                    <option value="eggs">Eggs</option>
                    <option value="nuts">Nuts</option>
                    <option value="soy">Soy</option>
                    <option value="fish">Fish</option>
                    <option value="shellfish">Shellfish</option>
                    <option value="wheat">Wheat</option>
                    <option value="none">None</option>
                </select>
                
                <label for="allergens">Allergens</label>
                    
                        <label>recipe_island</label> 
                <input id="allergens" name="allergens" type="text">
                
            </div>
   
    <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Find allergen free recipes
                <i class="material-icons right">playlist_add</i>
             </button>
    </div>
    </form>
</div> 


    
{% endblock %}