{% extends 'base.html' %} {% block content %}
    
    <head>
        <title>Home Page</title>
    </head>
    
    <body>
        <h1>A taste of the Caribbean!</h1>
        <div class="firstpage">
        <!--
            <div>
                <p class="welcome">A taste of the Caribbean!</p>
                
            </div>
         -->   
            <div>
                <img src ="static/images/barbadosfish.jpg" alt="barbados fish dish">
            </div>
        </div>
        
        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <button>Go to recipes</button>
        </form>
        
    </body>
{% endblock %}