{% extends 'base.html' %} {% block content %}
    
    <head>
        <title>Home Page</title>
    </head>
    
    <body>
        <h1>Caribbean recipes</h1>
        <div class="firstpage">
            
            <div>
                <p>Welcome to your Caribbean recipe app!</p>
                <p>Please log in</p>
            </div>
            <div class="grenada">
               <img src ="static/images/grenada.jpg" alt="grenada harbour">
            </div>
            <div class="row">
                <div class="column">
                    <img src="static/images/breakfast.jpg" alt="breakfast" style="width:100%">
                </div>
                <div class="column">
                    <img src="static/images/dinner.jpg" alt="dinner" style="width:100%">
                </div>
                <div class="column">
                    <img src="static/images/creamydessert.jpg" alt="dessert" style="width:100%">
                </div>
            </div>
  
        </div>
        
        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <button>Go to recipes</button>
        </form>
        
    </body>
{% endblock %}