
{% extends 'base.html' %}
{% block content %} 

<div class="row">
    <h2>The Caribbean Island for this recipe is {{this_island.recipe_island}}</h2>
</div>


    <div class="row">
        <img src="{{this_island.island_url}}" class="islandphoto" alt="island photo">
    </div>
     
    <div class="row">
         <p class="center">{{this_island.recipe_island}} has a population of {{this_island.island_population}} people</p>
         <p class="center">{{this_island.recipe_island}} is in the {{this_island.island_location}} and has an area of {{this_island.island_size}}</p>
         <p class="center"> In {{this_island.recipe_island}} the main language(s) is/are {{this_island.island_languages}}</p>
    </div>  
    
    <div class="row">
        <p class="center">The map below shows all of the caribbean area</p>
        <img src="/static/images/americascaribbean.jpg" alt="Caribbean map">
    </div>
        
    
         
    
    
     


    
    
{% endblock %}