<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
     <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />    
    <title>Caribbean Recipes</title>
</head>
<body class="bg-image">
   
    <section class="container text-center position-of-content">
       <a style="
    text-decoration: none;
    color: white;" id='link-text'href="/"><h1 class="font-color">Caribbean Recipes</h1></a>
      <div class="row">
    <form action='{{url_for("login")}}' method='POST' class="col s12 text-center bg-form">
      <h4 class="font-color">Login</h4>
      <div class="row">
        <div class="input-field text-center font-color">
          <i class="material-icons prefix">account_circle</i>
          <input id="username" name='username' type="text" class="validate font-color" placeholder="username" required>
          
              {% for message in messages %} 
                     <h5 class="font3">
                         {{ message }}                                                                
                     </h5>
                   {% endfor %}
        </div>
        </div>
        <div class="row">
        <div class="input-field text-center font-color">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" name='password' type="password" class="validate font-color" placeholder="Password" required>
                    {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashes">
                
                   {% for message in messages %} 
                     <strong class="flash-color">
                         {{ message }}                                                                
                     </strong>
                   {% endfor %}
                
            </div>
            {% endif %}
            {% endwith %}
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
      <button class="btn btn-bg waves-effect waves-light" type="submit" name="action">Login 
    <i class="material-icons right">exit_to_app</i>
  </button>
  </div>
    </div>
    <a style="
    text-decoration: none;
    color: white;"class="font-color link-text" href="{{url_for('register')}}">Don't have an account? Register here</a>
    </form>
  </div>
    </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>